@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Sono&display=swap');

body {
    margin: 0;
    background-color: whitesmoke
}
#heading {
    background-image: linear-gradient(to top right, #0052d4, #4364f7, #6fb1fc);
    padding: 10px;
    font-family: 'Sono', sans-serif;
    color: white;
    text-align: center;
    font-size: 15px;
}
#nav {
    margin: 0;
    width: 100%;
    border-bottom: 0.5px solid black;
}
#nav ul {
    background-color: #EFF5F5;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
#nav li {
    list-style-type: none;
    width: 100%;
}
#nav a {
    color: black;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    display: block;
    padding: 10px;
    margin: 0;
}
#nav a:hover {
    background-color: black;
    color: white;
}
#flex-container {
    display: flex;
    flex-direction: column;
    visibility: hidden;
}
#profile {
    position: fixed;
    top: 0;
    width: 95%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    gap: 5px;
    border-bottom: 0.5px solid black;
    background-image: linear-gradient(to bottom right, rgb(91, 84, 84), white);
    height: 100%;
    padding-top: 50px;
}
#profile input {
    margin: 0;
    padding: 0;
}
#file-css {
}
#input-text {
    height: 100px;
}
#input-text:focus {
    outline: none;
    margin-top: 0;
}
#profile-img {
    height: 100px;
    width: 25%;
    position: relative;
    overflow: hidden;
    background-image: url('asset/saitama-anime-4k-c0tyxv3ihd4403xo.jpg');
    background-size: cover;
    background-position-x: center;
}
.send-btn {
}
#flex-inside {
    display: flex;
    flex-direction: column;
    gap: 10px;
}