@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Sono&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
}
body {
    margin: 0;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
#heading {
    background-image: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    padding: 10px;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}
#nav {
    margin-top: 90px;
}
#nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav li {
    margin: 0;
    padding: 0;
    width: 100%;
}
#nav a {
    margin: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
    padding: 15px;
}
#status {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
    background-color: #393E46;
    border-radius: 20px;
    z-index: 1;
}
#status img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 10px;
}
#status input {
    width: 75%;
    border-radius: 10px;
    border: none;
    padding: 15px;
    background-color: slategrey;
}
#status input::placeholder {
    color: white;
    padding: 0;
}
#status input:focus {
    outline: none;
    padding: 15px;
}
#flex-container {
    color: white;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right top, #ffffff, #eeedfa, #dadcf5, #c5cbf1, #acbced, #9bbdf2, #85bef6, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#profil-status {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#profil-status img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}
#data-status {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
#data-status img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}